.sign-in {
  .suggest-link {
    margin-top: 1em;
    text-align: center;
  }
  .logo{
    text-align: center;
    margin: 10px;
  }
}
.information {
  .avatar {
    text-align: center;
    margin: 10px;
  }
}
.finish {
  margin-top: 50%;
  .logo{
    text-align: center;
    margin: 10px;
  }
}
